/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */
body {
  font-family: Ethnocentric, ethnocentric-rg;
  line-height: 1.6;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/*Header Styles*/
/* Header styles */
header {
  background-color: rgba(51, 51, 51, 0.8); /* Translucent black color */
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar appears above other content */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 100px; /* Adjust the width of the logo as needed */
  margin-right: 10px; /* Add space between logo and title */
}

.header-content h1 {
  font-size: 24px;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky; top: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8); /* Translucent black color */
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

nav ul li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li a:hover::before {
  transform: scaleX(1);
}


ul li a:hover {
  background-color: #fff;
  color: #000;
}


.company-description {
  text-align: right; /* Align text to the right */
  width: 100%; /* Set width to 100% */
}


.company-description p {
  font-size: 16px;
  line-height: 1.6;
}


#hero {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('hero-bg.jpg');
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  color: #fff;
  opacity: 1;
}

#about {
  background: url('about-bg.jpg') center/cover no-repeat;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('about-bg.jpg');
}

#projects {
  background: url('projects-bg.jpg') center/cover no-repeat;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('projects-bg.jpg');
}

#board-of-directors {
  background: url('directors-bg.jpg') center/cover no-repeat;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('directors-bg.jpg');
}


.cta-btn {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  animation: scaleIn 1s ease forwards;
}

section {
  padding: 50px 0;
    height: 100vh;
  scroll-snap-align: start;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  header nav ul {
    display: flex;
    flex-direction: column;
  }

  header nav ul li {
    margin: 10px 0;
  }
}

/* Additional Styles specific to this page can be added here */

#board-of-directors {
  padding: 50px 0;
  text-align: center;
}

#board-of-directors h2 {
  margin-bottom: 20px;
}

.directors-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.director {
  flex-basis: calc(100% / 3); /* 2 directors per row */
  margin-bottom: 20px;
}

.top-row {
  padding-top: 60px;
}

.director img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.director p {
  margin: 0;
}

.title {
  font-weight: bold;
}

.name {
  color: #666;
}

#projects {
  padding: 50px 0;
  text-align: center;
}

#projects h2 {
  margin-bottom: 20px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 60px;
}

.project_logo {
  width: 300px;
}

.project_logo img {
  width: 100%;
  height: auto;
}

.project-details {
  margin-left: 20px;
  max-width: 600px; /* Adjust maximum width as needed */
  text-align: left;
}

.project-details h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-details p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

/* Add border between sections */
section {
  border-bottom: 2px solid #ddd; /* Add border between sections */
  padding-bottom: 20px; /* Add some spacing between sections */
}

/* Remove border from last section */
section:last-child {
  border-bottom: none;
}

#openings {
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
}

#openings h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cta-btn {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  animation: scaleIn 1s ease forwards;
}
